{% layout none %}
<!DOCTYPE html>
<html class="html-{{ template | replace: '.', '_' | handle }}">

<head>

  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->

  <!-- STYLE TAGS -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% include 'font-faces' %}
  {% render 'style-tags' %}

  <!-- SCRIPT TAGS -->
  {{ 'layout.theme.js' | asset_url | script_tag }}
  {% render 'script-tags' %}

  <style>
    .flickity-prev-next-button.previous {
      background-image: url("{{ 'slider-arrow-left@2x.png' | asset_url }}");
    }
    .flickity-prev-next-button.next {
      background-image: url("{{ 'slider-arrow-right@2x.png' | asset_url }}");
    }
  </style>

</head>
<body>
  <div id="shopify-section-header" class="shopify-section">
    <div id="headerComponent" class="header">
      <div class="header__main">
        <div class="header__main-inner">
          <div class="header__center">
            <div class="header__logo">
              <a href="/">
                <img src="//cdn.shopify.com/s/files/1/0275/9619/3905/t/3/assets/logo_luna_header@2x.png?v=352846958118788085" alt="Luna"> <img src="//cdn.shopify.com/s/files/1/0275/9619/3905/t/3/assets/logo_luna_header_white@2x.png?v=9340634555488077209" alt="Luna" class="white-logo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="password-page__middle wrapper">
    <div class="shop__password-message">
      {{ shop.password_message }}
    </div>
    {% include 'email-form' %}
  </div>


  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <p><label for='password'>Enter store using password</label></p>
    <input type='password' name='password' id='password' autofocus />
    <button class="cta-button cta-button_dark" name="commit" type="submit">
      Enter
      {% render 'svg-right-arrow' %}
    </button>
  {% endform %}

</body>
</html>
