{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product-hero" id="ProductForm" data-product="{{ product | json | escape }}">
  <div class="product-hero__header">
    <h1 class="product-hero__title">{{ product.title }}</h1>
  </div>
  <div class="product-hero__inner">
    <div class="product-hero__info">
      <div class="product-tabs">
        <div class="product-tabs__header">
          <button type="button" @click="selectTab(1)" class="caps-header" :class="{'selected': tab === 1}">Tab 1</button>
          <button type="button" @click="selectTab(2)" class="caps-header" :class="{'selected': tab === 2}">Tab 2</button>
          <button type="button" @click="selectTab(3)" class="caps-header" :class="{'selected': tab === 3}">Tab 3</button>
        </div>
        <div class="product-tabs__main">
          <div class="product-tabs__content">
            <div class="product-tabs__content" v-if="tab === 1">
              <div>1. {{ product.description }}</div>
            </div>
            <div class="product-tabs__content" v-if="tab === 2">
              <div>2. {{ product.description }}</div>
            </div>
            <div class="product-tabs__content" v-if="tab === 3">
              <div>3. {{ product.description }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-hero__image">
      <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    </div>
    <div class="product-hero__form">

      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        <div class="product-hero__option" :class="{'expanded': selecting === 'color'}">
          <div @click="focusOption('color')" class="product-hero__option-header">
            <h3 class="caps-header">01. Choose a color: ${selectedColor}</h3>
          </div>
          <div class="product-hero__option-body">
            <div v-if="options[1]" class="color-options">
              <button
                type="button"
                v-for="color in options[1].values"
                @click="selectColor(color)"
                :class="{'active': selectedColor === color.value}"
              ></button>
            </div>
          </div>
        </div>
        <div class="product-hero__option" :class="{'expanded': selecting === 'size'}">
          <div @click="focusOption('size')" class="product-hero__option-header">
            <h3 class="caps-header">02. Choose your size</h3>
          </div>
          <div class="product-hero__option-body">
            <select
              class="variants"
              name="id"
              v-model="selectedSize"
              v-if="options[0]"
              @change="selectSize"
            >
              <option
                v-for="size in options[0].values"
                :value="size.value"
              >${size.value}</option>
            </select>
          </div>
        </div>
        <div class="product-hero__option" :class="{'expanded': selecting === 'weight'}">
          <div @click="focusOption('weight')" class="product-hero__option-header">
            <h3 class="caps-header">03. Choose your blanket weight</h3>
          </div>
          <div class="product-hero__option-body">
            Options
          </div>
        </div>
        <div class="quantity-and-price">
          <div class="quantity-selector">
            <button @click="adjustQuantity(-1)" type="button" aria-label="Decrement quantity">-</button>
            <input id="Quantity" name="quantity" v-model="quantity" min="1" disabled>
            <button @click="adjustQuantity(1)" type="button" aria-label="Increment quantity">+</button>
          </div>
          <span>{{ current_variant.price | money }}</span>
        </div>
        <button class="form-button" type="submit" name="add" id="AddToCart">Add to cart</button>
      </form>
    </div>
  </div>
</div>

{% section 'product-features' %}
{% section 'product-benefits' %}
{% section 'product-suggestion' %}
{% section 'product-steps' %}
{% section 'product-detail' %}
{% section 'product-full-image' %}
