<!doctype html>
<html class="html-{{ template | replace: '.', '_' | handle }}">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->

  <!-- STYLE TAGS -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% include 'font-faces' %}
  {% render 'style-tags' %}

  <!-- SCRIPT TAGS -->
  {{ 'layout.theme.js' | asset_url | script_tag }}
  {% render 'script-tags' %}


  <!-- Yotpo -->
  <script async src="//staticw2.yotpo.com/ta049e3s2xUt8JXlD2LjJMV4pSJzFqoCR9Om6ytZ/widget.js"></script>

  <style>
    .flickity-prev-next-button.previous {
      background-image: url("{{ 'slider-arrow-left@2x.png' | asset_url }}");
    }
    .flickity-prev-next-button.next {
      background-image: url("{{ 'slider-arrow-right@2x.png' | asset_url }}");
    }
  </style>
</head>
<body>
  {% section 'promo-banner' %}
  {% section 'header' %}

  <main class="main" role="main">
    {{ content_for_layout }}
  </main>

  {% render 'minicart' %}
  {% section 'footer'%}
</body>
</html>
