<!doctype html>
<html class="html-{{ template | replace: '.', '_' | handle }}">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->

  <!-- STYLE TAGS -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% include 'font-faces' %}
  {% render 'style-tags' %}

  <!-- SCRIPT TAGS -->
  {{ 'layout.theme.js' | asset_url | script_tag }}
  {% render 'script-tags' %}


  <!-- Yotpo -->
  {% comment %} <script async src="//staticw2.yotpo.com/ta049e3s2xUt8JXlD2LjJMV4pSJzFqoCR9Om6ytZ/widget.js"></script> {% endcomment %}


   <!-- Yotpo's Javascript -->

  <script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/ta049e3s2xUt8JXlD2LjJMV4pSJzFqoCR9Om6ytZ/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>

  {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diffSeconds = time_now | minus: yotpo_live_time %}
  {%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
  {{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
  {%- endif -%}




  <style>
    .flickity-prev-next-button.previous {
      background-image: url("{{ 'slider-arrow-left@2x.png' | asset_url }}");
    }
    .flickity-prev-next-button.next {
      background-image: url("{{ 'slider-arrow-right@2x.png' | asset_url }}");
    }
  </style>
</head>
<body>
  {% section 'promo-banner' %}
  {% section 'header' %}

  <main class="main" role="main">
    {{ content_for_layout }}
  </main>

  {% render 'minicart' %}
  {% section 'footer'%}
</body>
</html>
