<div class="collection-list__inner">
  <div class="collection-list__header">
    <h2 class="section-header">{{ section.settings.header }}</h2>
  </div>
  <div class="collection-list__items">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection_item' %}
          <div class="item-wrapper">
            <a class="collection-list__item" href="{{ block.settings.collection.url }}">
              <div class="fill-image">
                <img src="{% if collection.image %}{{ collection.image | img_url: 'medium' }}{% endif %}" />
              </div>
              <div class="fill-image collection-list__hover-image">
                <img src="{{ block.settings.hover_image | img_url: 'medium' }}" />
              </div>
              <button class="cta-button">
                Shop
                <img class="cta-arrow cta-arrow_blue" src="{{ 'cta-arrow-blue.png' | asset_url | image_tag }}" />
                <img class="cta-arrow cta-arrow_white" src="{{ 'cta-arrow-white.png' | asset_url | image_tag }}" />
              </button>
            </a>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection List",
    "class": "collection-list",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection_item",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "hover_image",
            "label": "Hover Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
