<div class="footer">
  <div class="footer__logo">
    <a href="/">
      <img src="{{ 'logo_luna@2x.png' | asset_url | image_tag }}" alt="Luna" width="72px" />
    </a>
  </div>
  <div class="footer__inner">
    <div class="footer__main">
      <div class="footer__columns">
        {% for block in section.blocks %}
          {% if block.type == 'links_column' %}
            <div class="footer__col">
              <h4 class="caps-label">{{ block.settings.header }}</h4>
              <ul>
                {{ block.settings.richtext }}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="footer__aside">

      <div class="footer__form-intro">
        {{section.settings.newsletter_copy}}
      </div>
      <div class="footer__form">
        {{section.settings.newsletter_embed_code}}
      </div>

      <div class="footer__social">
        <a href="//instragram.com/">Instagram</a>
        <a href="//facebook.com/">Facebook</a>
        <a href="//twitter.com/">Twitter</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "newsletter_copy",
        "label": "Newsletter Copy",
        "default": "Get deals and more by signing up"
      },
      {
        "type": "html",
        "id": "newsletter_embed_code",
        "label": "Newsletter embed code",
        "default": "<div class='klaviyo-form-XEQfy4'></div>"
      }
    ],
    "blocks": [
      {
        "type": "links_column",
        "name": "Links Column",
        "settings": [
          {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
          {
            "type": "textarea",
            "id": "richtext",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}