<div class="header" :class="{ 'header_scrolled': isScrolled }" id="headerComponent">

  {% for parent_link in linklists[section.settings.main_nav_left].links %}
    {% if parent_link.links.size > 0 %}
      <div :class="['header__dropdown', { active: activeChildLinksIndex == {{forloop.index0}} }]">
        <div class="header__dropdown-inner">
          {% for child_link in parent_link.links %}
            {% case child_link.type %}
            {% when 'product_link' %}
              {% assign child_link_image = child_link.object.featured_image %}
            {% when 'collection_link' %}
              {% assign child_link_image = child_link.object.image %}
            {% endcase %}

            <div class="dropdown-item" data-type="{{child_link.type}}">
              <a href="{{child_link.url}}" class="dropdown-image">
                <img src="{{child_link_image | img_url: '80x80', crop: 'center', scale: 2 }}" alt="Collection 1" />
              </a>
              <a href="{{child_link.url}}" class="dropdown-text">{{child_link.title}}</a>

              {% if child_link.links.size > 0 %}
                <ul class="grandchild-links">
                  {% for grandchild_link in child_link.links %}
                    <li><a href="{{grandchild_link.url}}" class="grandchild-link">{{grandchild_link.title}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
              </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="header__main">
    <div class="header__main-inner">
      <div class="header__left">
        {% for parent_link in linklists[section.settings.main_nav_left].links %}

          {% if parent_link.links.size > 0 %}
            <a class="header-link" href="{{parent_link.url}}" @click.prevent="toggleActiveChildLinks({activeChildLinksIndex: {{forloop.index0}}})">{{parent_link.title}}</a>
          {% else %}
            <a class="header-link" href="{{parent_link.url}}">{{parent_link.title}}</a>
          {% endif %}


        {% endfor %}


        <div class="header__toggler" @click="toggleOpen">
          <div class="toggle-icon">
            <div class="toggle-icon_bar-one"></div>
            <div class="toggle-icon_bar-two"></div>
            <div class="toggle-icon_bar-three"></div>
          </div>
        </div>
      </div>
      <div class="header__center">
        <div class="header__logo">
          <a href="/"><img src="{{ 'logo_luna_header@2x.png' | asset_url | image_tag }}" alt="Luna" /></a>
        </div>
      </div>
      <div class="header__right">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a class="header-link" href="/account">Account</a>
            {{ 'Log out' | customer_logout_link }}
          {% else %}
            {{ 'Log in ' | customer_login_link }}
            {{ 'Register' | customer_register_link }}
          {% endif %}
        {% endif %}
        <a class="header-link header-link_cart" href="/cart">Cart<span v-cloak> (${cartCount})</span></a>
      </div>
    </div>
  </div>
</div>

{% comment %}
{% render 'linklist' linklist: linklists.main-menu %}
{% endcomment %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "promo_text",
        "label": "Promotional Text",
        "default": "Promo Here"
      },
      {
        "type": "link_list",
        "id": "main_nav_left",
        "label": "Main Navigation Left",
        "default": "main-menu"
      }
    ],
    "blocks": []
  }
{% endschema %}
