<div class="home-hero__content">
  <div class="home-hero__content-inner">
    <h1>{{ section.settings.header }}</h1>
    <p>
      {{ section.settings.body }}
    </p>
    <a href="" class="cta-button">
      {{ section.settings.cta_text }}
      <img class="cta-arrow cta-arrow_blue" src="{{ 'cta-arrow-blue.png' | asset_url | image_tag }}" />
      <img class="cta-arrow cta-arrow_white" src="{{ 'cta-arrow-white.png' | asset_url | image_tag }}" />
    </a>
  </div>
</div>
<div class="home-hero__image">
  <div class="fill-image">
    <img src="{{section.settings.image | img_url: '720x810', crop: 'center', scale: 2}}" />
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "class": "home-hero",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "textarea",
        "id": "body",
        "label": "Body"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Hero split image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
