<div class="split-block {% if section.settings.image_on_left == true %}split-block_image_left{% endif %} split-block-background--{{section.settings.background_color}}">
  <div class="split-block__inner">
    <div class="split-block__image">
      <div class="image-wrapper">
        <div class="fill-image">
          <img loading="lazy" src="{{section.settings.image | img_url: '720x810', crop: 'center', scale: 2}}" />
        </div>
      </div>
    </div>
    <div class="split-block__content">
      <div class="split-block__content-inner">
        <h2 class="section-header">{{ section.settings.title }}</h2>
        <div class="icons-block__items">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'icon_text' %}
                <div class="item-wrapper">
                  <div class="icons-block__item">
                    {% if block.settings.icon %}
                      <img loading="lazy" src="{{block.settings.icon | img_url: '40x40', crop: 'center', scale: 2}}" />
                    {% endif %}

                    {{block.settings.logo_svg}}

                    <p>{{ block.settings.title }}</p>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Icons Block",
    "class": "icons-block",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Header"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "image_on_left",
        "label": "Show image on left",
        "default": false
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ],
        "default":   "gray"
      }
    ],
    "blocks": [
      {
        "name": "Icon Text",
        "type": "icon_text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text (deprecated)"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "html",
            "id": "logo_svg",
            "label": "Icon SVG markup"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Split block with icons list and image",
        "category": "Text"
      }
    ]
  }
{% endschema %}
