<div class="press press-background--{{section.settings.background_color}}" id="press" data-count="{{ section.blocks.size }}">
  <div class="press__header">
    <h2>{{ section.settings.header }}</h2>
  </div>
  <div class="press__logos">
    {% for block in section.blocks %}
      {% if block.type == 'press_mention' %}
        <div class="press-logo" :class="{ active: activeItem == {{forloop.index0}} }" @mouseover="selectItem({{ forloop.index0 }})">
          {{ block.settings.logo_html }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="press__logos press__logos_mobile" id="pressSlider">
    {% for block in section.blocks %}
      {% if block.type == 'press_mention' %}
        <div class="press-logo" :class="{ active: activeItem == {{forloop.index0}} }" @click="selectItem({{ forloop.index0 }})">
          {{ block.settings.logo_html }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="press__quote">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'press_mention' %}
          <blockquote :class="{ active: activeItem == {{forloop.index0}}, inactive: inactiveItem == {{forloop.index0}} }" @click="selectItem({{ forloop.index0 }})">
            &ldquo;{{ block.settings.quote }}&rdquo;
          </blockquote>
      {% endcase %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Press",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ],
        "default":   "gray"
      }
    ],
    "blocks": [
      {
        "name": "Press mention",
        "type": "press_mention",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "quote",
            "label": "Quote"
          },
          {
            "type": "html",
            "id": "logo_html",
            "label": "Logo SVG markup"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Selectable images with quotes",
        "category": "Image"
      }
    ]
  }
{% endschema %}
