{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div
  class="product-hero"
  id="ProductHero"
  data-product="{{ product | json | escape }}"
  data-options-with-values="{{product.options_with_values | json | escape}}"
  data-current-variant="{{ current_variant | json | escape }}"
>
  <div class="product-hero__inner">
    <h1 class="product-hero__title">{{ product.vendor }} {{ product.title }}</h1>

    <div class="product-hero__info">
      <div class="product-tabs">
        <div class="product-tabs__header">
          {% for block in section.blocks %}
            {% if block.settings.product == product.handle %}
              {% if block.settings.benefits != blank %}
                <button type="button" @click="selectTab(1)" class="caps-header" :class="{'selected': tab === 1}">Benefits</button>
              {% endif %}
              {% if block.settings.details != blank %}
                <button type="button" @click="selectTab(2)" class="caps-header" :class="{'selected': tab === 2}">Details + Care</button>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        {% for block in section.blocks %}
          {% if block.settings.product == product.handle %}
            <div class="product-tabs__main">
              <div class="product-tabs__content">

                {% if block.settings.benefits != blank %}
                  <div class="product-tabs__content" v-if="tab === 1">
                    <div>{{ block.settings.benefits }}</div>
                  </div>
                {% endif %}

                {% if block.settings.details != blank %}
                  <div class="product-tabs__content" v-if="tab === 2">
                    <div>{{ block.settings.details }}</div>
                  </div>
                {% endif %}

              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="yotpo yotpo-shoppers-say" data-product-id="{{ product.id }}">&nbsp;</div>

    </div>

    <div class="product-hero__image">
      <picture v-if="selectedVariant && selectedVariant.featured_image">
        <source
          :srcset="selectedVariant.featured_image.src | getSizedImageUrl('325x195_crop_center@2x.progressive')"
          media="(max-width: 767px)"
        >

        <source
          :srcset="selectedVariant.featured_image.src | getSizedImageUrl('648x388_crop_center@2x.progressive')"
          media="(min-width: 768px)"
        >

        <img class="quick-add__selected-variant-image" src="" alt="{{ product.featured_image.alt | escape }}">
      </picture>
      <picture v-else>
        <source
          :srcset="product.featured_image | getSizedImageUrl('325x195_crop_center@2x.progressive')"
          media="(max-width: 767px)"
        >

        <source
          :srcset="product.featured_image | getSizedImageUrl('648x388_crop_center@2x.progressive')"
          media="(min-width: 768px)"
        >

        <img class="quick-add__selected-variant-image" src="" alt="{{ product.featured_image.alt | escape }}">
      </picture>

    </div>

    <div class="product-hero__form">
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        {% render 'product-options' %}
 
        <div class="quantity-and-price">
          <div class="quantity-selector">
            <button @click="adjustQuantity(-1)" type="button" aria-label="Decrement quantity">-</button>
            <input id="Quantity" name="quantity" v-model="quantity" min="1" disabled>
            <button @click="adjustQuantity(1)" type="button" aria-label="Increment quantity">+</button>
          </div>
          <span v-cloak class="price" v-if="selectedVariant">${selectedVariant.price | formatMoney }</span>
          <span v-cloak class="price price_compare" v-if="selectedVariant">${selectedVariant.compare_at_price | formatMoney}</span>
        </div>

        <template v-if="selectedVariant">
          <button v-if="selectedVariant.available" class="cta-button cta-button_dark centered form-button" type="submit" @click.prevent="submit">Add To Cart</button>
          <p v-if="selectedVariant.available" class="form-message" >Free Shipping over $40</p>
          <p v-if="selectedVariant.available" class="affirm-as-low-as form-message" data-page-type="product" data-amount="{{current_variant.price}}"></p>
          <button v-else class="cta-button centered form-button cta-button_dark" type="submit" disabled>Out of Stock</button>
        </template>

        <template v-else>
          <button class="cta-button centered form-button cta-button_dark" type="submit" disabled>Unavailable</button>
        </template>

      </form>
    </div>

    {% render 'yotpo-star-rating' %}
  </div>

  <div class="product-hero__corner"><img width="223px" src="{{ 'warranty-banner.png' | asset_url | image_tag }}" alt="Luna Lifetime Warranty"/></div>
</div>

<style>
  .size-icon_twin {
    background-image: url("{{ 'size-twin.svg' | asset_url }}");
  }
  .size-icon_full {
    background-image: url("{{ 'size-full.svg' | asset_url }}");
  }
  .size-icon_queen {
    background-image: url("{{ 'size-queen.svg' | asset_url }}");
  }
  .size-icon_king {
    background-image: url("{{ 'size-king.svg' | asset_url }}");
  }
</style>


{% schema %}
  {
    "name": "Product Hero",
    "class": "shopify-section-product-hero",
    "settings": [],
    "blocks": [
      {
        "type": "product-hero",
        "name": "Product Hero",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          },
          {
            "id": "meet_luna",
            "type": "richtext",
            "label": "Meet Luna"
          },
          {
            "id": "benefits",
            "type": "richtext",
            "label": "Benefits"
          },
          {
            "id": "details",
            "type": "richtext",
            "label": "Details"
          }
        ]
      }
    ]
  }
{% endschema %}
