{% for block in section.blocks %}
  {% if block.settings.product == product.handle %}
    {% assign product = all_products[block.settings.suggested_product] %}
    <div class="product-suggestion product-item" data-product="{{block.settings.suggested_product}}">
      <div class="product-suggestion__inner">
        <div class="product-suggestion__content">
          <div class="product-suggestion__info">
            <h2 class="section-header">{{block.settings.title}}</h2>
            <div class="header-underline"></div>
            <p class="section-header">{{block.settings.body}}</p>
            <img class="product-image" src="{{product.featured_image | img_url: '200x200', scale: 2 }}" v-bind:src="imageUrl">
            <button type="button" class="product-suggestion__cta" v-on:click="submit">Add to cart</button>
            <div class="product-suggestions__details">
              {% include 'preview-details' %}
            </div>
          </div>
          <div class="product-suggestion__image">
            <div class="image-wrapper">
              <div class="fill-image">
                <img src="{{block.settings.image | img_url: '1200x900', crop: 'center', scale: 2 }}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Product Suggestion",
    "class": "shopify-section-product-suggestion",
    "settings": [],
    "blocks": [
      {
        "type": "product-suggestion",
        "name": "Product Suggestion",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          },
          {
            "id": "suggested_product",
            "type": "product",
            "label": "Suggested Product"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "The Cover"
          },
          {
            "id": "body",
            "type": "textarea",
            "label": "Body",
            "default": "Our Blanket Cover makes cleaning your blanket a breeze. Your Luna Blanket has 8 loops to ensure a secure fit with the 8 ties on the removable, easy to wash, matching cover."
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Product Image"
          }
        ]
      }
    ]
  }
{% endschema %}
