<div class="testimonials testimonials-background--{{section.settings.background_color}}">
  <div class="testimonials__header">
    <h2 class="section-header">{{ section.settings.header }}</h2>
  </div>
  <div class="testimonials__slider" id="testimonials">
    {% for block in section.blocks %}
      {% if block.type == 'testimonial' %}
        <div class="testimonials__slide">
          <div class="testimonials__slide-inner" data-star-rating={{block.settings.star_rating}}>
            <h4>{{block.settings.name}}</h4>
            <p>{{block.settings.body}}</p>
          </div>
          {% render 'svg-quote-tail' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="testimonials__cta">
    <a href="{{ section.settings.cta_link }}" class="cta-button">
      {{ section.settings.cta_text }}
      {% render 'svg-right-arrow' %}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "shopify-section-testimonials",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "See what the fans have to say..."
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "See more reviews"
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ],
        "default":   "gray"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial",
        "settings": [
          {
            "type":   "range",
            "id":     "star_rating",
            "min":       0,
            "max":       5,
            "step":      0.5,
            "unit":      "★",
            "label":     "Star rating",
            "default":   5
          },
          {
            "type": "text",
            "id": "title",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "textarea",
            "id": "body",
            "label": "Body"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text"
      }
    ]
  }
{% endschema %}
