<div class="features-list features-list-background--{{section.settings.background_color}}">
  <div class="features-list__inner">
    <div class="features-list__header">
      <h2 class="section-header">{{ section.settings.title }}</h2>
      <h3 class="section-subheader">{{ section.settings.subheader }}</h3>
    </div>
    <div class="features-list__items">
      {% for block in section.blocks %}
        {% if block.type == 'column' %}
          <div class="features-list__item">
            <div class="item-inner">
              <div class="features-list__item-image">
                <div class="fill-image">
                  <img loading="lazy" src="{{ block.settings.image | img_url: '500x500' }}" />
                </div>
              </div>
              <div class="features-list__item-header">
                <h4>{{ block.settings.title }}</h4>
              </div>
              <h5 class="features-list__item-subheader">{{ block.settings.subheader }}</h5>
              <p>{{ block.settings.body }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
