<div class="features-list">
  <div class="features-list__inner">
    <div class="features-list__header">
      <h2 class="section-header">{{ section.settings.header }}</h2>
      <h3 class="section-subheader">{{ section.settings.subheader }}</h3>
    </div>
    <div class="features-list__items" id="featuresListSlider">
      {% for block in section.blocks %}
        {% if block.type == 'column' %}
          <div class="features-list__item">
            <div class="item-inner">
              <div class="features-list__item-image">
                <div class="fill-image">
                  <img src="{{ block.settings.image | img_url: '500x500' }}" />
                </div>
              </div>
              <h4>{{ block.settings.header }}</h4>
              <h5>{{ block.settings.subheader }}</h5>
              <p>{{ block.settings.body }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>