{% if background_color == 'blue' %}
  <style>
    :root.color-scheme--dark .header {
      color: var(--offwhite-color);
    }
  </style>
{% endif %}

<div class="page-hero__content background--{{background_color}}">
  <div class="page-hero__content-inner">
    <h1 class="page-hero__title">{{ header }}</h1>
    <div class="page-hero__body">
      {{ body }}
    </div>
    {% if linklist %}
      {% render 'linklist' linklist: linklist, class: "page-hero__linklist" %}
    {% endif %}
  </div>
</div>


{% if blocks.size > 0 %}
  <div class="page-hero__images-container background--{{background_color}}">
    <div class="page-hero__images">
      {% for block in blocks %}
        <div class="page-hero__image-wrapper">
          <div class="page-hero__image">
            <img loading="lazy" src="{{ block.settings.image | img_url: '600x600', crop: 'center', scale: 2 }}" alt="{{ block.settings.alt_text }}" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
