{% assign hover_images = product.images | where: "alt", "hover" %}

<product-grid-item
  inline-template
  class="product-grid-item"
  current-variant-json='{{ current_variant | json | escape }}'
  options-with-values-json='{{ product.options_with_values | json }}'
  product-json='{{ product | json }}'
>
  <div>
    <a class="product-grid-item__featured-image" href="{{ product.url | within: collection }}">
      <picture>
        <source
          srcset="{{ product.featured_image.src | img_url: '160x96', crop: 'center', scale: 2 }}"
          media="(max-width: 767px)"
        >
        <source
          srcset="{{ product.featured_image.src | img_url: '648x388', crop: 'center', scale: 2 }}"
          media="(min-width: 768px)"
        >
        <img class="product-grid-item__featured-image-el" src="" alt="{{ product.featured_image.alt | escape }}">
      </picture>

      {% if hover_images.size > 0 %}
        <picture>
          <source
            srcset="{{ hover_images[0].src | img_url: '160x96', crop: 'center', scale: 2 }}"
            media="(max-width: 767px)"
          >
          <source
            srcset="{{ hover_images[0].src | img_url: '648x388', crop: 'center', scale: 2 }}"
            media="(min-width: 768px)"
          >

          <img class="product-grid-item__hover-image-el" src="" alt="{{ product.featured_image.alt | escape }}">
        </picture>
      {% endif %}
      <span class="cta-button cta-button_dark button--shop-now">
        {% if product.metafields.global.shop_cta %}
          {{product.metafields.global.shop_cta}}
        {% else %}
          Shop {{ product.title }}
        {% endif %}
        {% render 'svg-right-arrow' %}
      </span>

      {% if product.compare_at_price %}
        <span class="on-sale"></span>
      {% endif %}
    </a>

    <a class="product-grid-item__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>

    <span class="product-grid-item__price {% if product.price_varies %}varies{% endif %}">
      {{ product.price | money }}
      {% if product.compare_at_price %}
        <span class="product-grid-item__compare_at_price">{{product.compare_at_price | money}}</span>
      {% endif %}
    </span>

    {% if product.available %}
      <p>
        <button v-if="product.variants.length > 1" @click.prevent="activateQuickAdd" class="cta-button cta-button_dark small centered">Quick Add</button>
        <button
          v-else
          @click.prevent="submit"
          class="cta-button cta-button_dark small centered"
          type="submit"
        >Add To Cart</button>

      </p>
    {% endif %}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}

    <form :class="['quick-add', {'active': quickAddIsActive}]" method="post" action="/cart/add" enctype="multipart/form-data">
      <div class="quick-add__top">
        <button class="close" @click.prevent="deactivateQuickAdd">{% render 'svg-close' %}</button>
      </div>

      <input type="hidden" name="form_type" value="product">
      <input type="hidden" name="utf8" value="✓">

      <div class="product__selected-variant-featured-image">
        <picture v-if="selectedVariant && selectedVariant.featured_image">
          <source
            :srcset="selectedVariant.featured_image.src | getSizedImageUrl('160x96_crop_center@2x.progressive')"
            media="(max-width: 767px)"
          >
          <source
            :srcset="selectedVariant.featured_image.src | getSizedImageUrl('648x388_crop_center@2x.progressive')"
            media="(min-width: 768px)"
          >
          <img class="quick-add__selected-variant-image" src="" alt="{{ product.featured_image.alt | escape }}">
        </picture>
        <picture v-else>
          <source
            :srcset="product.featured_image | getSizedImageUrl('325x195_crop_center@2x.progressive')"
            media="(max-width: 767px)"
          >
          <source
            :srcset="product.featured_image | getSizedImageUrl('648x388_crop_center@2x.progressive')"
            media="(min-width: 768px)"
          >
          <img class="quick-add__selected-variant-image" src="" alt="{{ product.featured_image.alt | escape }}">
        </picture>
      </div>

      {% render 'product-options' %}

      <p v-if="selectedVariant">
        <button
          v-if="selectedVariant.available"
          @click.prevent="submit"
          class="cta-button cta-button_dark small centered"
          type="submit"
        >Add To Cart</button>
        <button v-else class="cta-button cta-button_dark small centered" type="submit" disabled>Out of Stock</button>
      </p>
    </form>
  </div>
</product-grid-item>
