<div class="products-slider">
  <div class="products-slider__header">
    <h2 class="section-header">{{ section.settings.title }}</h2>
  </div>
  <div class="products-slider__main" id="productSlider">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'featured_product_disabled' %}
        {% assign product = all_products[block.settings.product_item] %}
        {% render 'product-grid-item', product: product %}
      {% endcase %}

      {% if block.type == 'featured_product' %}
        {% assign product = all_products[block.settings.product_item] %}
        <div class="products-slider__slide">
          <div class="products-slider__item product-item" data-product="{{block.settings.product_item}}">
            <div class="products-slider__item-image">
              <a href="{{product.url}}" class="fill-image">
                <img src="{{product.featured_image | img_url: '600x600', scale: 2 }}" v-bind:src="imageUrl">
              </a>
            </div>

            {% render 'preview-details', product: product %}

          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% unless section.settings.cta_text == "" or section.settings.cta_text == nil %}
  <div class="products-slider__cta">
    <a class="cta-button" href="{{ section.settings.cta_url }}">
      {{ section.settings.cta_text }}
      {% render 'svg-right-arrow' %}
    </a>
  </div>
  {% endunless %}
</div>
