<product-grid-item
  inline-template
  class="product-grid-item {% if product.compare_at_price %}on-sale{% endif %}"
  product-json='{{product | json}}'
  options-with-values-json='{{product.options_with_values | json}}'
  first-available-variant='{{product.selected_or_first_available_variant.id}}'
>
  <div>
    <a class="product-grid-item__featured-image" href="{{ product.url | within: collection }}">
      <picture>
        <source
          srcset="{{ product.featured_image.src | img_url: '160x160', scale: 2 }}"
          media="(max-width: 767px)"
        >
        <source
          srcset="{{ product.featured_image.src | img_url: '384x384', scale: 2 }}"
          media="(min-width: 768px)"
        >
        <source
          srcset="{{ product.featured_image.src | img_url: '512x512', scale: 2 }}"
          media="(min-width: 768px)"
        >

        <img src="" alt="{{ product.featured_image.alt | escape }}">
      </picture>
    </a>

    <a class="product-grid-item__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>

    <span class="product-grid-item__price {% if product.price_varies %}varies{% endif %}">
      {{ product.price | money }}
      {% if product.compare_at_price %}
        <span class="product-grid-item__compare_at_price">{{product.compare_at_price | money}}</span>
      {% endif %}
    </span>

    {% if product.available %}
      <button class="cta-button cta-button_dark">Quick Add</button>
    {% endif %}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}

    <form class="quick-add" @change="respondToChange">



      <template v-for="option in optionsWithValues">
        <h4>${option.name}</h4>

        <template v-for="(value, idx) in option.values">
          <input
            v-model="options[idx]"
            type="radio"
            v-bind="inputOptionAttributes(product, option, value)"
            :value="value"
          >
          <label v-bind="labelOptionAttributes(product, option, value)">${value}</label>
        </template>

        <p>${options['Option' + option.position]}</p>
      </template>


      <p>
        <select name="id" v-model="selectedVariant.id" class="variants">
          <option v-for="variant in product.variants" v-bind:value="variant.id">${variant.title} - ${variant.id}</option>
        </select>
      </p>


      {% for option in product.options_with_values %}
        <h4>{{ option.name }}</h4>

        {% for value in option.values %}
          <input  id="product{{product.id}}_option{{option.name}}_value{{value | handleize}}" type="radio" name="options[{{ option.name | escape }}]" value="{{value}}" {% if option.selected_value == value %}checked{% endif %}>
          <label for="product{{product.id}}_option{{option.name}}_value{{value | handleize}}">{{value}}</label>
        {% endfor %}
      {% endfor %}

    </form>
  </div>
</product-grid-item>
