<div class="products-slider">
  <div class="products-slider__header">
    <h2 class="section-header">{{ section.settings.title }}</h2>
  </div>
  <div class="products-slider__main" id="productSlider">
    {% for block in section.blocks %}
      {% if block.type == 'featured_product' %}
        {% assign product = all_products[block.settings.product_item] %}
        <div class="products-slider__slide">
          <div class="products-slider__item product-item" data-product="{{block.settings.product_item}}">
            <div class="products-slider__item-image">
              <div class="fill-image">
                <img src="{{product.featured_image | img_url: '600x600', scale: 2 }}" v-bind:src="imageUrl">
              </div>
              <div class="add-to-cart-wrapper">
                <product-overlay product="{{block.settings.product_item}}"></product-overlay>
              </div>
            </div>

            {% include 'preview-details' %}

          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% unless section.settings.cta_text == "" or section.settings.cta_text == nil %}
  <div class="products-slider__cta">
    <a class="cta-button" href="{{ section.settings.cta_url }}">
      {{ section.settings.cta_text }}
      <img class="cta-arrow cta-arrow_blue" src="{{ 'cta-arrow-blue.png' | asset_url | image_tag }}" />
      <img class="cta-arrow cta-arrow_white" src="{{ 'cta-arrow-white.png' | asset_url | image_tag }}" />
    </a>
  </div>
  {% endunless %}
</div>
