<div class="products-slider">
  <div class="products-slider__header">
    <h2 class="section-header">{{ section.settings.header }}</h2>
  </div>
  <div class="products-slider__main">
    {% for block in section.blocks %}
      {% if block.type == 'featured_product' %}
        {% assign product = all_products[block.settings.product_item] %}
        <div class="product-item">
          <img src="{{product.featured_image | img_url }}">
          <div class="">
            <div class="">
              <h4>{{product.title}}</h4>
              <p>{{product.price | money }}</p>
            </div>
            <product-options></product-options>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="products-slider__cta">
    <a class="cta-button">
      {{ section.settings.cta_text }}
    </a>
  </div>
</div>
